workflow.json
{
  "name": "AI-Powered Market Intelligence Model",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        272,
        320
      ],
      "id": "44f7d025-9bec-40e7-bc17-976074e95c13"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        112
      ],
      "id": "2dfb0436-5a2e-4ae8-80b0-bf48115cba42",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/FortNiteBR/search.json?q=battle+pass&restrict_sr=on&sort=relevance&t=month&limit=100",
        "options": {}
      },
      "name": "GET: Search Reddit Threads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -192,
        320
      ],
      "id": "2bc7b509-2a82-4eb9-8209-d09067242978"
    },
    {
      "parameters": {
        "functionCode": "/* Turn Reddit search results into one item per post (each item.json.data = post.data) */\nconst children = (items[0] && items[0].json && items[0].json.data && Array.isArray(items[0].json.data.children)) ? items[0].json.data.children : [];\nreturn children.map(child => ({ json: { data: child.data } }));"
      },
      "name": "MAP: Reddit Thread List",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        32,
        320
      ],
      "id": "da75d3c1-f547-4406-a1d9-b1507b618e24"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        512,
        336
      ],
      "id": "275e7962-017b-4a2f-a322-b02c5296d306",
      "name": "BUFFER: API Rate Limit Safe",
      "webhookId": "70df5242-5e08-4c26-8bb7-0a3719a68d7e"
    },
    {
      "parameters": {
        "url": "={{ 'https://www.reddit.com' + $json.data.permalink + '.json' }}",
        "options": {}
      },
      "name": "GET: Fetch Thread Comments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        720,
        336
      ],
      "id": "b545848e-cdf3-405c-9207-99fdea263269"
    },
    {
      "parameters": {
        "functionCode": "/*\nProcess the Reddit post+comments JSON returned by the previous HTTP Request.\nReturns one item per top-level comment:\n{ comment_text: \"...\", post_title: \"...\" }\n*/\nconst out = [];\n// HTTP Request (Get Comments) returns the Reddit JSON array as items[0].json\nconst response = items[0] && items[0].json;\nlet postTitle = '';\n// Try to get post title from response[0]\nif (Array.isArray(response) && response[0] && response[0].data && Array.isArray(response[0].data.children) && response[0].data.children[0]) {\n  postTitle = (response[0].data.children[0].data && response[0].data.children[0].data.title) || '';\n}\n// Fallback: sometimes the incoming item included the post data (before HTTP Request replaced it)\nif (!postTitle && items[0] && items[0].json && items[0].json.data && items[0].json.data.title) {\n  postTitle = items[0].json.data.title;\n}\n// Comments are in response[1].data.children\nconst comments = (Array.isArray(response) && response[1] && response[1].data && Array.isArray(response[1].data.children)) ? response[1].data.children : [];\nfor (const c of comments) {\n  if (!c || !c.data) continue;\n  // Only top-level comments (kind === 't1')\n  if (c.kind && c.kind !== 't1') continue;\n  const body = c.data.body;\n  const author = c.data.author;\n  if (!body || typeof body !== 'string') continue;\n  const trimmed = body.trim();\n  if (!trimmed) continue;\n  if (trimmed === '[deleted]' || trimmed === '[removed]') continue;\n  if (!author || author === '[deleted]') continue;\n  out.push({ json: { comment_text: trimmed, post_title: postTitle } });\n}\nreturn out;"
      },
      "name": "TRANSFORM: Extract Comment Text",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        944,
        336
      ],
      "id": "b9c5a4e9-6e9c-43a0-bf28-3789f0e22fc6"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "comment_text"
            },
            {
              "fieldToAggregate": "post_title"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1168,
        336
      ],
      "id": "5b0bfa48-d6d2-48ac-bfb7-70133d857dd4",
      "name": "COLLECTOR: Batch Accumulator"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Act as a Senior Game Economy Researcher. Your task is to perform a granular thematic and sentiment analysis of player feedback regarding the Battle Pass.\n\nOBJECTIVE: Analyze the conflict between MONETIZATION (Value/Price) vs. PROGRESSION FRICTION (Time/Grind).\n\nLIST OF COMMENTS TO ANALYZE:\n{{ $json.comment_text.map((text, index) => `ID: ${index} | CONTENT: ${text}`).join('\\n---\\n') }}\n\nCLASSIFICATION TAXONOMY:\n1. PRICE: Feedback regarding V-Bucks cost, real-money value, or perceived Return on Investment (ROI).\n2. TIME: Feedback regarding progression speed, XP gains, excessive \"grind,\" the \"second job\" feeling, or predatory FOMO.\n3. OTHER: Feedback on cosmetics, UI/UX, or general gameplay unrelated to time/money.\n\nRULES:\n- If category is OTHER, provide a 1-2 word \"subcategory\" (e.g., UI Bug, Skin Quality).\n- If PRICE or TIME, leave \"subcategory\" empty.\n- FRUSTRATION LEVEL: Scale 1-10 (1 = Neutral, 10 = High Churn Risk).\n- ANALYST NOTE: A concise, professional one-sentence justification in English.\n\nOUTPUT ONLY A VALID JSON ARRAY:\n[\n  {\n    \"comment_id\": INTEGER,\n    \"sentiment\": \"NEGATIVE\" | \"NEUTRAL\" | \"POSITIVE\",\n    \"category\": \"PRICE\" | \"TIME\" | \"OTHER\",\n    \"subcategory\": \"STRING\",\n    \"frustration_level\": 1-10,\n    \"analyst_note\": \"STRING\"\n  }\n]"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1376,
        336
      ],
      "id": "6b4bca9e-b9f6-471c-a593-b53fca77a020",
      "name": "AI: Sentiment & Theme Classifier",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "vAi5C6GR40fzac1B",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawResponse = items[0].json.content.parts[0].text;\n\ntry {\n  // Próba znalezienia JSONa w tekście (na wypadek gdyby AI dopisało coś przed/po)\n  const jsonMatch = rawResponse.match(/\\[[\\s\\S]*\\]/);\n  if (!jsonMatch) throw new Error(\"AI nie zwróciło tablicy JSON\");\n\n  const aiResults = JSON.parse(jsonMatch[0]);\n  const originalData = $(\"TRANSFORM: Extract Comment Text\").all();\n\n  return aiResults.map(analysis => {\n    const originalItem = originalData[analysis.comment_id];\n    return {\n      json: {\n        ...originalItem.json, \n        ...analysis           \n      }\n    };\n  });\n} catch (error) {\n  // Jeśli AI nie zwróciło JSONa, zwróć informację o błędzie bez zatrzymywania workflow\n  return [{ json: { error: \"AI zwróciło tekst zamiast JSON\", raw_output: rawResponse } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        336
      ],
      "id": "01f2d0f5-1a6d-4fda-9716-46acfaae1eb7",
      "name": "SCRIPT: Parse AI Response"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appu3iWrZ8eAo4q0E",
          "mode": "list",
          "cachedResultName": "Battle Pass Progression Audit",
          "cachedResultUrl": "https://airtable.com/appu3iWrZ8eAo4q0E"
        },
        "table": {
          "__rl": true,
          "value": "tbl3Q8oNFBKXL4kKC",
          "mode": "list",
          "cachedResultName": "Main data",
          "cachedResultUrl": "https://airtable.com/appu3iWrZ8eAo4q0E/tbl3Q8oNFBKXL4kKC"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Post Title": "={{ $json.post_title }}",
            "Comment": "={{ $json.comment_text }}",
            "Frustration Level": "={{ $json.frustration_level }}",
            "Analyst Note": "={{ $json.analyst_note }}",
            "Category": "={{ $json.category }}",
            "Subcategory": "={{ $json.subcategory }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Post Title",
              "displayName": "Post Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Comment",
              "displayName": "Comment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Frustration Level",
              "displayName": "Frustration Level",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Analyst Note",
              "displayName": "Analyst Note",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Subcategory",
              "displayName": "Subcategory",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1952,
        384
      ],
      "id": "ccaad2ac-1d89-42b7-a4c1-1be5920d740a",
      "name": "DB: Save Classified Data",
      "retryOnFail": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "CavUvvW5ajUQCFvd",
          "name": "Battle Pass Progression Audit"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appu3iWrZ8eAo4q0E",
          "mode": "list",
          "cachedResultName": "Battle Pass Progression Audit",
          "cachedResultUrl": "https://airtable.com/appu3iWrZ8eAo4q0E"
        },
        "table": {
          "__rl": true,
          "value": "tbl3Q8oNFBKXL4kKC",
          "mode": "list",
          "cachedResultName": "Main data",
          "cachedResultUrl": "https://airtable.com/appu3iWrZ8eAo4q0E/tbl3Q8oNFBKXL4kKC"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        32,
        64
      ],
      "id": "0c9958b9-6ec8-4b41-999c-954e68717984",
      "name": "DB: Fetch All Analysis Data",
      "credentials": {
        "airtableTokenApi": {
          "id": "CavUvvW5ajUQCFvd",
          "name": "Battle Pass Progression Audit"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet stats = {\n  total: items.length,\n  price_count: 0,\n  time_count: 0,\n  other_count: 0,\n  frust_sum_price: 0,\n  frust_sum_time: 0,\n  frust_sum_other: 0,\n  subcategories_other: {}\n};\n\nitems.forEach(item => {\n  const data = item.json;\n\n  // POPRAWKA: Używamy \"Frustration Level\" dokładnie tak, jak widać w Twoim Input JSON\n  const frustValue = data[\"Frustration Level\"] ?? \n                     data[\"Frustration level\"] ?? \n                     data[\"frustration_level\"] ?? 0;\n  \n  const frust = parseFloat(frustValue) || 0;\n\n  // Pobieramy kategorię (używamy \"Category\" z dużej litery)\n  const rawCat = data[\"Category\"] || data[\"category\"] || \"\";\n  const cat = rawCat.toString().toUpperCase().trim();\n  \n  const sub = data[\"Subcategory\"] || data[\"subcategory\"];\n\n  if (cat === 'PRICE') {\n    stats.price_count++;\n    stats.frust_sum_price += frust;\n  } else if (cat === 'TIME') {\n    stats.time_count++;\n    stats.frust_sum_time += frust;\n  } else if (cat === 'OTHER') {\n    stats.other_count++;\n    stats.frust_sum_other += frust;\n    if (sub) {\n      stats.subcategories_other[sub] = (stats.subcategories_other[sub] || 0) + 1;\n    }\n  }\n});\n\nreturn [{\n  json: {\n    \"Records total\": stats.total,\n    \"Price percent\": stats.total > 0 ? ((stats.price_count / stats.total) * 100).toFixed(1) + '%' : \"0%\",\n    \"Time percent\": stats.total > 0 ? ((stats.time_count / stats.total) * 100).toFixed(1) + '%' : \"0%\",\n    \"Other percent\": stats.total > 0 ? ((stats.other_count / stats.total) * 100).toFixed(1) + '%' : \"0%\",\n    // Wyniki średniej frustracji\n    \"Price average frustration\": stats.price_count > 0 ? (stats.frust_sum_price / stats.price_count).toFixed(2) : \"0.00\",\n    \"Time average frustration\": stats.time_count > 0 ? (stats.frust_sum_time / stats.time_count).toFixed(2) : \"0.00\",\n    \"Other average frustration\": stats.other_count > 0 ? (stats.frust_sum_other / stats.other_count).toFixed(2) : \"0.00\",\n    \"Top other\": Object.entries(stats.subcategories_other)\n      .sort((a, b) => b[1] - a[1])\n      .slice(0, 3)\n      .map(e => e[0]).join(', ')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        64
      ],
      "id": "4aa7a871-3780-41da-82b1-d46ac6d79729",
      "name": "SCRIPT: Calculate Global Statistics"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appu3iWrZ8eAo4q0E",
          "mode": "list",
          "cachedResultName": "Battle Pass Progression Audit",
          "cachedResultUrl": "https://airtable.com/appu3iWrZ8eAo4q0E"
        },
        "table": {
          "__rl": true,
          "value": "tblBwVjbqCV9AI9er",
          "mode": "list",
          "cachedResultName": "Summary",
          "cachedResultUrl": "https://airtable.com/appu3iWrZ8eAo4q0E/tblBwVjbqCV9AI9er"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Other Average Frustration": "={{ $json[\"Other average frustration\"] }}",
            "Time Average Frustration": "={{ $json[\"Time average frustration\"] }}",
            "Price Average Frustration": "={{ $json[\"Price average frustration\"] }}",
            "Records Total": "={{ $json[\"Records total\"] }}",
            "Price Percent": "={{ $json[\"Price percent\"] }}",
            "Time Percent": "={{ $json[\"Time percent\"] }}",
            "Other Percent": "={{ $json[\"Other percent\"] }}",
            "Top Other": "={{ $json[\"Top other\"] }}"
          },
          "matchingColumns": [
            "Output"
          ],
          "schema": [
            {
              "id": "Records Total",
              "displayName": "Records Total",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Price Percent",
              "displayName": "Price Percent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Time Percent",
              "displayName": "Time Percent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Other Percent",
              "displayName": "Other Percent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Price Average Frustration",
              "displayName": "Price Average Frustration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Time Average Frustration",
              "displayName": "Time Average Frustration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Other Average Frustration",
              "displayName": "Other Average Frustration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Top Other",
              "displayName": "Top Other",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Report Date",
              "displayName": "Report Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        480,
        64
      ],
      "id": "92ac3c26-91e7-4ce4-bea7-c5fc25683926",
      "name": "DB: Log Raw Statistics",
      "credentials": {
        "airtableTokenApi": {
          "id": "CavUvvW5ajUQCFvd",
          "name": "Battle Pass Progression Audit"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an experienced Player Experience Researcher preparing a strategic insight memo\nfor a cross-functional leadership audience (Product, Live Ops, UX, Monetization).\n\nYour task is to synthesize quantitative community data and qualitative player feedback\ninto a neutral, professional, and decision-oriented analysis.\n\nIMPORTANT TONE GUIDELINES:\n- Maintain an analytical, non-confrontational tone.\n- Do NOT assign moral intent (e.g. “greedy”, “manipulative”, “anti-consumer”) to the company.\n- Attribute strong language ONLY to direct player quotes, never to the analyst’s voice.\n- Frame findings in terms of player perception, experience risk, and opportunity.\n- Recommendations should be framed as strategic opportunities or testable design pivots,\n  not ultimatums or accusations.\n\n---\n\nQUANTITATIVE DATA (Summary table):\n- Sample Size (N): {{ $('DB: Fetch Summary Data').first().json[\"Records Total\"] }}\n- TIME (Progression Friction): {{ $('DB: Fetch Summary Data').first().json[\"Time Percent\"] }} \n  (Avg. Frustration: {{ $('DB: Fetch Summary Data').first().json[\"Time Average Frustration\"] }}/10)\n- PRICE (Monetization): {{ $('DB: Fetch Summary Data').first().json[\"Price Percent\"] }} \n  (Avg. Frustration: {{ $('DB: Fetch Summary Data').first().json[\"Price Average Frustration\"] }}/10)\n- OTHER (General Engagement): {{ $('DB: Fetch Summary Data').first().json[\"Other Percent\"] }} \n  (Avg. Frustration: {{ $('DB: Fetch Summary Data').first().json[\"Other Average Frustration\"] }}/10)\n- TOP TRENDS IN 'OTHER': {{ $('DB: Fetch Summary Data').first().json[\"Top Other\"] }}\n\n---\n\nQUALITATIVE EVIDENCE (Representative Player Voices):\n{{ $('COLLECTOR: Representative Feedback').item.json.data\n  .map(i => `[Category: ${i.Category} | Frustration: ${i[\"Frustration Level\"]}/10]\nPlayer Quote: \"${i.Comment}\"`)\n  .join('\\n---\\n') }}\n\n---\n\nASSIGNMENT:\n\n1. FRICTION ANALYSIS  \n   Compare the relative volume of TIME-related feedback against its average frustration score.\n   Explain the concept of “progression fatigue” using player quotes as supporting evidence,\n   while keeping the analyst narrative neutral and descriptive.\n\n2. SIGNAL VS. NOISE  \n   Interpret the high-volume OTHER category as an indicator of general engagement.\n   Identify which sub-themes represent low-risk discussion versus latent systemic friction.\n\n3. STRATEGIC INSIGHT  \n   Explain why time investment requirements are perceived as misaligned with player expectations.\n   Frame this as a risk to long-term trust and retention, using no more than two representative quotes.\n\n4. STRATEGIC OPPORTUNITY  \n   Propose a concrete, player-respectful progression alternative (e.g. non-expiring or legacy\n   Battle Pass progression) framed as:\n   - a potential trust-building opportunity\n   - a mitigation of time-pressure anxiety\n   - a candidate for experimentation or phased rollout\n\n---\n\nNOTE:\n- Quantitative results are based on N={{ $('DB: Fetch Summary Data').first().json[\"Records Total\"] }} records.\n- Qualitative quotes (n=19) are illustrative and should be treated as contextual examples, not statistical proof.\n\n---\n\nOUTPUT ONLY A VALID JSON OBJECT IN THE FOLLOWING FORMAT:\n\n{\n  \"analysis\": \"A full professional Markdown report written in clear, executive-friendly English\",\n  \"conclusion\": \"A concise, high-impact executive summary suitable for a leadership slide\"\n}\n",
              "role": "=user"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1376,
        48
      ],
      "id": "eab4b0f0-9649-42aa-83d1-2204246a5c32",
      "name": "AI: Research Report Generator",
      "credentials": {
        "googlePalmApi": {
          "id": "vAi5C6GR40fzac1B",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appu3iWrZ8eAo4q0E",
          "mode": "list",
          "cachedResultName": "Battle Pass Progression Audit",
          "cachedResultUrl": "https://airtable.com/appu3iWrZ8eAo4q0E"
        },
        "table": {
          "__rl": true,
          "value": "tblwZtziYqzrYYSde",
          "mode": "list",
          "cachedResultName": "Report",
          "cachedResultUrl": "https://airtable.com/appu3iWrZ8eAo4q0E/tblwZtziYqzrYYSde"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Analysis": "={{ $json.analysis }}",
            "Executive Summary": "={{ $json.conclusion }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Analysis",
              "displayName": "Analysis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Executive Summary",
              "displayName": "Executive Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1936,
        48
      ],
      "id": "b7c7deac-1c2a-4c72-b06b-9eb1ec33c813",
      "name": "DB: Save Final Research Report",
      "credentials": {
        "airtableTokenApi": {
          "id": "CavUvvW5ajUQCFvd",
          "name": "Battle Pass Progression Audit"
        }
      }
    },
    {
      "parameters": {
        "content": "Data Ingestion",
        "height": 224,
        "width": 448,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -272,
        272
      ],
      "id": "f73dbb10-6bec-47ea-b9ff-bbf0f3ba1ebc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Analysis Loop",
        "height": 336,
        "width": 1920,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        272
      ],
      "id": "24612d78-4391-428c-b185-523180ba7401",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Reporting Branch\n",
        "height": 240,
        "width": 704
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        0
      ],
      "id": "d4a283f9-2445-45ca-81cd-0a29dbd17a0f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Summary",
        "height": 240,
        "width": 1424,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        704,
        0
      ],
      "id": "5703fef4-c3b3-4421-af7d-aa72b1197f9b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appu3iWrZ8eAo4q0E",
          "mode": "list",
          "cachedResultName": "Battle Pass Progression Audit",
          "cachedResultUrl": "https://airtable.com/appu3iWrZ8eAo4q0E"
        },
        "table": {
          "__rl": true,
          "value": "tblBwVjbqCV9AI9er",
          "mode": "list",
          "cachedResultName": "Summary",
          "cachedResultUrl": "https://airtable.com/appu3iWrZ8eAo4q0E/tblBwVjbqCV9AI9er"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1184,
        48
      ],
      "id": "05512838-538f-4a1a-b2cf-3e0b1faf4c69",
      "name": "DB: Fetch Summary Data",
      "credentials": {
        "airtableTokenApi": {
          "id": "CavUvvW5ajUQCFvd",
          "name": "Battle Pass Progression Audit"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Strategic Research Report Parser\n * Extracts and sanitizes the JSON output from Gemini Pro\n */\n\n// 1. Extract raw text from the nested Gemini response structure\nconst rawResponse = $json.candidates[0].content.parts[0].text;\n\n// 2. Sanitize the string by removing Markdown code blocks if present\nconst cleanJson = rawResponse.replace(/```json/g, '').replace(/```/g, '').trim();\n\n// 3. Parse the sanitized string into a structured JavaScript object\nconst data = JSON.parse(cleanJson);\n\n// 4. Return formatted fields for seamless Airtable mapping\nreturn {\n  analysis: data.analysis,\n  conclusion: data.conclusion\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        48
      ],
      "id": "1083de07-c679-4741-8143-dc4007bc311d",
      "name": "SCRIPT: Parse AI Report"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appu3iWrZ8eAo4q0E",
          "mode": "list",
          "cachedResultName": "Battle Pass Progression Audit",
          "cachedResultUrl": "https://airtable.com/appu3iWrZ8eAo4q0E"
        },
        "table": {
          "__rl": true,
          "value": "tbl3Q8oNFBKXL4kKC",
          "mode": "list",
          "cachedResultName": "Main data",
          "cachedResultUrl": "https://airtable.com/appu3iWrZ8eAo4q0E/tbl3Q8oNFBKXL4kKC"
        },
        "returnAll": false,
        "limit": 20,
        "options": {},
        "sort": {
          "property": [
            {
              "field": "Frustration Level",
              "direction": "desc"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        768,
        48
      ],
      "id": "981f02be-82b0-4226-91e6-015e63834570",
      "name": "DB: Fetch Main Data",
      "credentials": {
        "airtableTokenApi": {
          "id": "CavUvvW5ajUQCFvd",
          "name": "Battle Pass Progression Audit"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        976,
        48
      ],
      "id": "8eb009ec-2c64-4bdf-bc23-e312b6f616f2",
      "name": "COLLECTOR: Representative Feedback"
    }
  ],
  "pinData": {},
  "connections": {
    "Split In Batches": {
      "main": [
        [],
        [
          {
            "node": "BUFFER: API Rate Limit Safe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET: Search Reddit Threads": {
      "main": [
        [
          {
            "node": "MAP: Reddit Thread List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAP: Reddit Thread List": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUFFER: API Rate Limit Safe": {
      "main": [
        [
          {
            "node": "GET: Fetch Thread Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET: Fetch Thread Comments": {
      "main": [
        [
          {
            "node": "TRANSFORM: Extract Comment Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRANSFORM: Extract Comment Text": {
      "main": [
        [
          {
            "node": "COLLECTOR: Batch Accumulator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COLLECTOR: Batch Accumulator": {
      "main": [
        [
          {
            "node": "AI: Sentiment & Theme Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Sentiment & Theme Classifier": {
      "main": [
        [
          {
            "node": "SCRIPT: Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SCRIPT: Parse AI Response": {
      "main": [
        [
          {
            "node": "DB: Save Classified Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Save Classified Data": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Fetch All Analysis Data": {
      "main": [
        [
          {
            "node": "SCRIPT: Calculate Global Statistics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SCRIPT: Calculate Global Statistics": {
      "main": [
        [
          {
            "node": "DB: Log Raw Statistics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Research Report Generator": {
      "main": [
        [
          {
            "node": "SCRIPT: Parse AI Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Fetch Summary Data": {
      "main": [
        [
          {
            "node": "AI: Research Report Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SCRIPT: Parse AI Report": {
      "main": [
        [
          {
            "node": "DB: Save Final Research Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Fetch Main Data": {
      "main": [
        [
          {
            "node": "COLLECTOR: Representative Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COLLECTOR: Representative Feedback": {
      "main": [
        [
          {
            "node": "DB: Fetch Summary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2ea8038e-cfd8-4077-bf81-7192c1b73c8f",
  "meta": {
    "instanceId": "1210a0589fc0eef529df546f0c53500ccaf8711af2341e2838e3eb7de57cdb8c"
  },
  "id": "ahlHtqK6HiimVDcD",
  "tags": []
}